body{
  background-color: #000;
}
.bg-body-tertiary{
  background-color: rgba(12, 11, 9, 0.6) !important;
  border-bottom: 1px solid;
}
.navLogo, .navLogo:visited{
  color: #fff;
}
.navLogo:hover{
  color: #fff;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: #d9ba85;
}
.navbar-nav .nav-link{
  color: #fff;
}
.navbar-nav .nav-link:hover{
  color: #d9ba85;
}
